<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spark to Bloom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <header>
        <h2 class="glow">Spark to Bloom</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/pages/about.md">about</a></li>
            <li><a href="/pullrequests">pull->requests</a></li>
        </ul>
    </nav>
    <div class="terminal-box">
        <p>> hey there, i'm daniel. feel free to look at my stuff. reach out, if you want to chat</p>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <footer class="terminal-box"><p></p></footer>
</body>
</html>
